/*BODY STYLES*/
body {
    background-color: #f3f3f3;
}
/*NAVIGATION*/
#navigation {
    width: 100vw;
    position: fixed; /*so the nav will stay present throughout the site*/
    
    /*flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation li {
    list-style-type: none; /*get rid of bullets*/
    margin-right: 80px;
    font-family: Rokkitt; /*font style*/
    font-weight: 700;
    font-size: 20px;   
}

#navigation a {
    color: #444444;
    text-decoration: none; /*get rid of underline*/
}

/*when the nav is clicked have it stay in these styles*/
#navigation a:focus {
    color: #1FA6F2;
    text-decoration: underline;
    font-weight: 800;
}

#navigation a:hover {
    font-weight: 800;
}

/*nav2 needs to be adjusted specifically for contrast reasons*/
#navigation a.nav2:focus {
    color: #f3f3f3;
    text-decoration: underline;
    font-weight: 800;
}

/*SPLASH PAGE*/
#splash {
    background-color: #f3f3f3;
    width: 100vw;
    height: 80vh;
    
    /*grid*/
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 
        ". . ."
        ". content1 ."
        ". . ."
}

#splash .content1 {
    grid-area: content1;
    
    /*flex to organize items*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*mouse shape for the user to scroll over*/
/*taken from css tricks*/
#splash .mouse {
    display: block;
    width: 126px;
    height: 180px;
    border: #888888 2px solid;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; /*making that shape look all egg-like*/
}

/*circle shape*/
/*the scroller for the mouse*/
#splash .mouse .scroller {
    height: 20px;
    width: 20px;
    border: #888888 2px solid;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
}


/*splash fonts*/
#splash h3 {
    font-family: Roboto;
    font-size: 16px;
    color: #888;
    font-weight: 400;
}

#splash h2 {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    padding-top: 50px;
    color: #444;
    margin: 0;
}

#splash h1 {
    font-family: Rokkitt;
    font-size: 80px;
    font-weight: 600;
    color: #444;
    margin: 0;
}

#splash .impt {
    color: #1FA6F2;
    font-weight: 700;
}

/*PAGE #1*/
#page1 {
    height: 70vh;
    width: 100vw;
    
    /*grid laylout*/
    display: grid;
    background-color: #1FA6F2;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 150px 1fr 1fr 1fr 150px;
    grid-template-areas: 
        ". . . . ."
        ". land sea descr ."
        ". . . . .";
}

.sea {
    grid-area: sea;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.land {
    grid-area: land;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}

.content {
    grid-area: descr;
    font-family: Roboto;
    font-size: 20px;
    color: #f3f3f3;
    width: 200px;
    height 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
}

/*PAGE #2*/
#page2 {
    width: 100vw;
    height: 100vh;
    
    /*grid layout*/
    display: grid;
    grid-template-rows: 150px 1fr 125px 125px 125px 1fr 125px;
    grid-template-columns: 50px 125px 125px 125px 125px 1fr 125px 125px 125px 125px 50px;
    grid-template-areas: 
        ". . . . . . . . . . ."
        ". . . . . . . . . . ."
        ". . bee2 bee17 bee1 . bee4 bee18 bee3 . ."
        ". bee5 bee6 bee7 bee19 . bee20 bee8 bee9 bee10 ."
        ". bee11 bee12 bee13 . . . bee14 bee15 bee16 ."
        ". . . . . . . . . . ."
        ". . . . . . . . . . .";
    
    /*background*/
    background: url("media/flower.png"); /*make background img*/
	height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*bee styles*/
/*assigns the bee classes with a width, height, padding, size, ect.*/
.bee1 {
    padding-top: 40px;
    grid-area: bee1;
    width: 60px;
    height: 55px;
}

.bee2 {
    grid-area: bee2;
    width: 100px;
    height: 90px;
}

.bee3 {
    grid-area: bee3;
    width: 100px;
    height: 90px;
}

.bee4 {
    padding-top: 40px;
    grid-area: bee4;
    width: 60px;
    height: 55px;
    padding-left: 30px;
}

.bee5 {
    grid-area: bee5;
    width: 85px;
    height: 80px;
    margin-left: 20px;
}

.bee6 {
    grid-area: bee6;
    width: 65px;
    height: 60px;
    padding-left: 25px;
}

.bee7 {
    grid-area: bee7;
    width: 75px;
    height: 70px;
    padding-left: 10px;
    padding-top: 10px;
}

.bee8 {
    grid-area: bee8;
    width: 75px;
    height: 70px;
    padding-right: 10px;
    padding-top: 10px;
}

.bee9 {
    grid-area: bee9;
    width: 65px;
    height: 60px;
    padding-right: 25px;
}

.bee10 {
    grid-area: bee10;
    width: 85px;
    height: 80px;
}

.bee11 {
    grid-area: bee11;
    width: 75px;
    height: 70px;
    margin-left: 10px;
}

.bee12 {
    grid-area: bee12;
    width: 100px;
    height: 90px;
}

.bee13 {
    grid-area: bee13;
    width: 50px;
    height: 45px;
    padding-left: 20px;
    padding-top: 10px;
}

.bee14 {
    grid-area: bee14;
    width: 50px;
    height: 45px;
    padding-left: 20px;
    padding-top: 10px;
}

.bee15 {
    grid-area: bee15;
    width: 100px;
    height: 90px;
}

.bee16 {
    grid-area: bee16;
    width: 75px;
    height: 70px;
}

.bee17 {
    grid-area: bee17;
    width: 75px;
    height: 70px;
    padding-left: 10px;
    padding-top: 20px;
}

.bee18 {
    grid-area: bee18;
    width: 75px;
    height: 70px;
    padding-right: 10px;
    padding-top: 20px;
}

.bee19 {
    grid-area: bee19;
    width: 50px;
    height: 45px;
}

.bee20 {
    grid-area: bee20;
    width: 50px;
    height: 45px;
    padding-left: 45px;
}

/*have the bees wiggle when you hover over them*/
/*help from W3Schools*/
#page2 img:hover {
  animation: hovering 0.5s;
  animation-iteration-count: infinite;
}

@keyframes hovering {
  0% { transform: translate(2px, 3px) rotate(0deg); }
  20% { transform: translate(-2px, 2px) rotate(1deg); }
  40% { transform: translate(5px, 3px) rotate(0deg); }
  60% { transform: translate(3px, -5px) rotate(1deg); }
  80% { transform: translate(5px, 3px) rotate(0deg); }
  100% { transform: translate(2px, -5px) rotate(-1deg); }
}

/*PAGE #3*/
#page3 {
    display: flex;
    
}