/*BODY STYLES*/
body {
    background-color: #f3f3f3;
}
/*NAVIGATION*/
#navigation {
    width: 100vw;
    position: fixed; /*so the nav will stay present throughout the site*/
    
    /*flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation li {
    list-style-type: none; /*get rid of bullets*/
    margin-right: 80px;
    font-family: Rokkitt; /*font style*/
    font-weight: 700;
    font-size: 20px;   
}

#navigation a {
    color: #444444;
    text-decoration: none; /*get rid of underline*/
}

/*when the nav is clicked have it stay in these styles*/
#navigation a:focus {
    color: #1FA6F2;
    text-decoration: underline;
    font-weight: 800;
}

#navigation a:hover {
    font-weight: 800;
}

/*nav2 and nav4 needs to be adjusted specifically for contrast reasons*/
#navigation a.nav2:focus {
    color: #f3f3f3;
    text-decoration: underline;
    font-weight: 800;
}

#navigation a.nav4:focus {
    color: #f3f3f3;
    text-decoration: underline;
    font-weight: 800;
}

/*SPLASH PAGE*/
#splash {
    background-color: #f3f3f3;
    width: 100%;
    height: 80vh;
    
    /*grid*/
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 
        ". . ."
        ". content1 ."
        ". . ."
}

#splash .content1 {
    grid-area: content1;
    
    /*flex to organize items*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*mouse shape for the user to scroll over*/
/*taken from css tricks*/
#splash .mouse {
    display: block;
    width: 126px;
    height: 180px;
    border: #888888 2px solid;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; /*making that shape look all egg-like*/
}

/*circle shape*/
/*the scroller for the mouse*/
#splash .mouse .scroller {
    height: 20px;
    width: 20px;
    border: #888888 2px solid;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
}


/*splash fonts*/
#splash h3 {
    font-family: Roboto;
    font-size: 16px;
    color: #888;
    font-weight: 400;
}

#splash h2 {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    padding-top: 50px;
    color: #444;
    margin: 0;
}

#splash h1 {
    font-family: Rokkitt;
    font-size: 80px;
    font-weight: 600;
    color: #444;
    margin: 0;
}

#splash .impt {
    color: #1FA6F2;
    font-weight: 700;
}

/*PAGE #1*/
#page1 {
    height: 70vh;
    width: 100%;
    
    /*grid laylout*/
    display: grid;
    background-color: #1FA6F2;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 150px 1fr 1fr 1fr 150px;
    grid-template-areas: 
        ". . . . ."
        ". land sea descr ."
        ". . . . .";
}

.sea {
    grid-area: sea;
    padding-top: 25px;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.land {
    grid-area: land;
    margin: 0 auto;
    width: 250px;
    height: 250px;
}

/*when hover over the image, turn the cursor to a hand*/
#page1 img:hover{
    cursor: pointer;
}

.content {
    grid-area: descr;
    font-family: Roboto;
    font-size: 20px;
    color: #f3f3f3;
    width: 200px;
    height 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
}

/*PAGE #2*/
#page2 {
    width: 100%;
    height: 100vh;
    
    /*grid layout*/
    display: grid;
    grid-template-rows: 150px 1fr 125px 125px 125px 1fr 125px;
    grid-template-columns: 10px 125px 125px 125px 125px 1fr 125px 125px 125px 125px 10px;
    grid-template-areas: 
        ". . . . . . . . . . ."
        ". . . . . . . . . . ."
        ". . bee2 bee17 bee1 . bee4 bee18 bee3 . ."
        ". bee5 bee6 bee7 bee19 . bee20 bee8 bee9 bee10 ."
        ". bee11 bee12 bee13 . . . bee14 bee15 bee16 ."
        ". . . . . . . . . . ."
        ". . . . . . . . . . .";
    
    /*background*/
    background: url("media/flower.png"); /*make background img*/
	height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*bee styles*/
/*assigns the bee classes with a width, height, padding, size, ect.*/
.bee1 {
    padding-top: 40px;
    grid-area: bee1;
    width: 50px;
    height: 45px;
}

.bee2 {
    grid-area: bee2;
    width: 90px;
    height: 80px;
}

.bee3 {
    grid-area: bee3;
    width: 90px;
    height: 80px;
}

.bee4 {
    padding-top: 40px;
    grid-area: bee4;
    width: 50px;
    height: 45px;
    padding-left: 30px;
}

.bee5 {
    grid-area: bee5;
    width: 75px;
    height: 70px;
    margin-left: 20px;
}

.bee6 {
    grid-area: bee6;
    width: 55px;
    height: 50px;
    padding-left: 25px;
}

.bee7 {
    grid-area: bee7;
    width: 65px;
    height: 60px;
    padding-left: 10px;
    padding-top: 10px;
}

.bee8 {
    grid-area: bee8;
    width: 65px;
    height: 60px;
    padding-right: 10px;
    padding-top: 10px;
}

.bee9 {
    grid-area: bee9;
    width: 65px;
    height: 60px;
    padding-right: 25px;
}

.bee10 {
    grid-area: bee10;
    width: 75px;
    height: 70px;
}

.bee11 {
    grid-area: bee11;
    width: 65px;
    height: 60px;
    margin-left: 10px;
}

.bee12 {
    grid-area: bee12;
    width: 90px;
    height: 80px;
}

.bee13 {
    grid-area: bee13;
    width: 40px;
    height: 35px;
    padding-left: 20px;
    padding-top: 10px;
}

.bee14 {
    grid-area: bee14;
    width: 40px;
    height: 35px;
    padding-left: 20px;
    padding-top: 10px;
}

.bee15 {
    grid-area: bee15;
    width: 90px;
    height: 80px;
}

.bee16 {
    grid-area: bee16;
    width: 65px;
    height: 60px;
}

.bee17 {
    grid-area: bee17;
    width: 65px;
    height: 60px;
    padding-left: 10px;
    padding-top: 20px;
}

.bee18 {
    grid-area: bee18;
    width: 65px;
    height: 60px;
    padding-right: 10px;
    padding-top: 20px;
}

.bee19 {
    grid-area: bee19;
    width: 40px;
    height: 35px;
}

.bee20 {
    grid-area: bee20;
    width: 40px;
    height: 35px;
    padding-left: 45px;
}

/*have the bees wiggle when you hover over them*/
/*help from W3Schools*/
#page2 img:hover {
  animation: hovering 0.5s;
  animation-iteration-count: infinite;
}

/*wiggle animation*/
@keyframes hovering {
  0% { transform: translate(2px, 3px) rotate(0deg); }
  20% { transform: translate(-2px, 2px) rotate(1deg); }
  40% { transform: translate(5px, 3px) rotate(0deg); }
  60% { transform: translate(3px, -5px) rotate(1deg); }
  80% { transform: translate(5px, 3px) rotate(0deg); }
  100% { transform: translate(2px, -5px) rotate(-1deg); }
}

/*PAGE #3*/
#page3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: #1FA6F2;
}

/*slideshow of images*/
.slideContain {
    width: 400px;
    position: relative;
}

.slideShow {
    display: none
}

.slideShow img {
    vertical-align: middle;
    height: 400px;
}

/*previous & next button styles*/
.arrow-left, .arrow-right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #f3f3f3;
    font-weight: bold;
    font-size: 18px;
    transition: 0.7s ease;
}

/*previous & next position styles*/
.arrow-right {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*previous & next button's hover    
the background color of the buttons will change on hover*/
.arrow-left:hover, .arrow-right:hover {
    background-color: #444;
    color: #f3f3f3;
}

/*have the images fade as you click the arrows to the next or previous images*/
.trans {
    animation-name: trans;
    animation-duration: 1.5s;
}

@keyframes trans {
    from {opacity: .4} 
    to {opacity: 1}
}

/*spacing*/
.space {
    width: 70px;
}

/*content3*/
.content3 {
    max-width: 300px;
}

/*font styles*/
.content3 h1{
    font-family: Rokkitt;
    font-size: 50px;
    color: #f3f3f3;
}

.content3 p{
    font-family: Roboto;
    color: #f3f3f3;
    font-size: 20px;
}

/*FOOTER*/
footer {
    background-color: #444;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p {
    font-family: Roboto;
    color: #f3f3f3;
    font-size: 16px;
    padding-left: 100px;
}

footer a {
    font-family: Roboto;
    color: #f3f3f3;
    font-size: 16px;
    text-decoration: none;
    padding-right: 100px;
}

footer a:hover {
    font-weight: 600;
    text-decoration: underline;
}
/*DOCUMENTATION NAVIGATION
need it to not be fixed*/
#navigation-doc {
    max-width: 100%;
    padding-top: 10px;
    
    /*flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation-doc li {
    list-style-type: none; /*get rid of bullets*/
    margin-right: 80px;
    font-family: Rokkitt; /*font style*/
    font-weight: 700;
    font-size: 20px;
}

#navigation-doc a {
    color: #444444;
    text-decoration: none; /*get rid of underline*/
}

/*when the nav is clicked have it stay in these styles*/
#navigation-doc a:focus {
    color: #1FA6F2;
    text-decoration: underline;
    font-weight: 800;
}

#navigation-doc a:hover {
    font-weight: 800;
}

/*DOCUMENTATION*/
#doc {
    /*spacing*/
    padding-top: 30px;
    margin-right: 100px;
    margin-left: 100px;
}

.doc-flex {
    /*flex*/
    display: flex;
    justify-content: space-between;
}

.r-content {
    width: 45%;
}

.l-content {
    width: 45%;
}

#doc img {
    max-width: 400px;
    max-height: 900px;
    padding-bottom: 50px;
}

/*text styles*/
#doc h1 {
    font-family: Rokkitt;
    font-size: 50px;
    color: #444;
}

#doc h2 {
    font-family: Rokkitt;
    font-size: 35px;
    color: #1FA6F2;
}

#doc h3 {
    font-family: Rokkitt;
    font-size: 25px;
    text-decoration: underline;
    color: #444;
}

#doc p {
    font-family: Roboto;
    font-size: 16px;
    color: #444;
    line-height: 25px;
    padding-bottom: 40px;
}

#doc li {
    font-family: Roboto;
    font-size: 16px;
    color: #444;
    line-height: 25px;
    padding-bottom: 10px;
}

#doc a{
    color: #1FA6F2;
    text-decoration: none;
}

#doc a:hover {
    text-decoration: underline;
}

/*MOBILE STYLES*/
@media only screen and (max-width: 500px) {
    /*NAVIGATION*/
    #navigation {
        width: 80vw;
        position: fixed; /*so the nav will stay present throughout the site*/

        /*flexbox*/
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #navigation li {
        font-size: 12px;
        margin-right: 20px;
        font-weight: 800;
    }
    
    /*SPLASH PAGE*/
    #splash .content1 {
        padding-top: 30px;
    }
    
    #splash {
        height: 450px;
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 50px 1fr 50px;
    }
    
    /*MOUSE*/
    #splash .mouse {
        width: 100px;
        height: 140px;
    }
    
    #splash .mouse .scroller {
        height: 15px;
        width: 15px;
    }
    
    /*splash fonts*/
    #splash h3 {
        font-size: 12px;
    }

    #splash h2 {
        font-size: 20px;
    }

    #splash h1 {
        font-size: 35px;
    }
    
    /*PAGE #1*/
    #page1 {
        height: 500px;
        /*grid laylout*/
        grid-template-rows: 50px 1fr 1fr 1fr 50px;
        grid-template-columns: 50px 1fr 50px;
        grid-template-areas: 
            ". . ."
            ". land ."
            ". sea .";
            ". descr .";
            ". . .";
    }
    
    .sea {
        width: 100px;
        height: 100px;
    }

    .land {
        width: 125px;
        height: 125px;
    }
    
    .content {
        font-size: 12px;
        color: #f3f3f3;
        width: 100%;
        height 200px;
        padding-top: 25px;
        padding-bottom: 0px;
    }
}